.option-chain {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px; /* Adds spacing between child elements */
  }
  
  .option-chain-container{
    width: 50px;
    height: 50px;
    color:red;
    flex: 0 0 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0; /* Optional: Background for better visibility */
    border: 1px solid #ccc;    /* Optional: Border for clarity */
  }

  .option{
    text-align: center;
  }
  